{% extends "base.html" %}
<!-- {% block title %}Home{% endblock %} -->

{% block contents %}
<!-- slider -->

<div class="slider">
    <!-- list Items -->
    <div class="list">
        <div class="item active">
            <img src="../static/css/burger.jpeg">
            <div class="content">
                <p>design</p>
                <h2>Slider 01</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                </p>
                <div class="button">
                    <button><a href="/mk_res">Reserve Now</a></button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/steak.jpeg">
            <div class="content">
                <p>design</p>
                <h2>Slider 02</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                </p>
                <div class="button">
                    <button>Reserve Now</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/pasta.jpeg">
            <div class="content">
                <p>design</p>
                <h2>Slider 03</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                </p>
                <div class="button">
                    <button>Reserve Now</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/soup.jpeg">
            <div class="content">
                <p>design</p>
                <h2>Slider 04</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                </p>
                <div class="button">
                    <button>Reserve Now</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/drinks.jpeg">
            <div class="content">
                <p>design</p>
                <h2>Slider 05</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                </p>
                <div class="button">
                    <button>Reserve Now</button>
                </div>
            </div>
        </div>
    </div>
    <!-- button arrows -->
    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail">
        <div class="item active">
            <img src="../static/css/burger.jpeg">
            <div class="content">
                Name Slider
            </div>
        </div>
        <div class="item">
            <img src="../static/css/steak.jpeg">
            <div class="content">
                Name Slider
            </div>
        </div>
        <div class="item">
            <img src="../static/css/pasta.jpeg">
            <div class="content">
                Name Slider
            </div>
        </div>
        <div class="item">
            <img src="../static/css/soup.jpeg">
            <div class="content">
                Name Slider
            </div>
        </div>
        <div class="item">
            <img src="../static/css/drinks.jpeg">
            <div class="content">
                Name Slider
            </div>
        </div>
    </div>
</div>

{% endblock %}