{% extends "base.html" %}
<!-- {% block title %}Home{% endblock %} -->

{% block contents %}
<!-- slider -->

<div class="slider">
    <!-- list Items -->
    <div class="list">
        <div class="item active">
            <img src="../static/css/burger.jpeg">
            <div class="content">
                <p>Grilling Exellence! Elevated.</p>
                <h2>Book now!</h2>
                <p>
                    UGH offers a premium grilling experience! Book Now! 
                </p>
                <div class="button">
                    <button><a href="/mk_res">Reserve Now</a></button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/steak.jpeg">
            <div class="content">
                <p>Are you ready?</p>
                <h2>Already Booked?</h2>
                <p>
                    We await your arrival.
                </p>
                <div class="button">
                    <button><a href="/check_res">Check Reservation</a></button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/pasta.jpeg">
            <div class="content">
                <p>Hungry for</p>
                <h2>Food?</h2>
                <p>
                    Check out our ever growing list of items.
                </p>
                <div class="button">
                    <button>Menu</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/soup.jpeg">
            <div class="content">
                <p>Really Hungry?</p>
                <h2>Order now!!</h2>
                <p>
                    Place you order now and have the deliciousness
                    delivered to your home.
                </p>
                <div class="button">
                    <button><a href="/order_food">Order Now</a></button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/css/drinks.jpeg">
            <div class="content">
                <p>Want more?</p>
                <h2>Premium Members</h2>
                <p>
                    Join our premium membership club to gain access to 
                    awesome perks. 
                </p>
                <div class="button">
                    <button>Join Now</button>
                </div>
            </div>
        </div>
    </div>
    <!-- button arrows -->
    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail">
        <div class="item active">
            <img src="../static/css/burger.jpeg">
            <div class="content">
                Reserve
            </div>
        </div>
        <div class="item">
            <img src="../static/css/steak.jpeg">
            <div class="content">
                View Reservation
            </div>
        </div>
        <div class="item">
            <img src="../static/css/pasta.jpeg">
            <div class="content">
                Menu
            </div>
        </div>
        <div class="item">
            <img src="../static/css/soup.jpeg">
            <div class="content">
                Order
            </div>
        </div>
        <div class="item">
            <img src="../static/css/drinks.jpeg">
            <div class="content">
                Join
            </div>
        </div>
    </div>
</div>

{% endblock %}
