{% extends "base.html" %}
{% block title %}Order Food{% endblock %}

{% block contents %}


<div id="input_div" class="body-order">
    <h1 class="menu-title">Menu</h1>
    <!-- <hr align="center"> -->
    <table align="center">
        <tr>
            <td width="400px">CAFE MENU</td>
            <td width="200px">PRICE</td>
            <td width="200px">QUANTITY</td>
            <td width="200px">SUBTOTAL</td>
        </tr>
        <tr>
            <td>Hamburger</td> <!-- Item name -->
            <td>$9.99</td>
            <td><button onclick="decreaseA()">-</button><button onclick="increaseA()">+</button><input type="text" id="aa" value="0"></td> <!-- Item quantity -->
            <td><input type="text" id="one" value="0"></td> <!-- Item subtotal -->
        </tr>
        <tr>
            <td>Ceasar Salad</td>
            <td>$7.99</td>
            <td><button onclick="decreaseB()">-</button><button onclick="increaseB()">+</button><input type="text" id="bb" value="0"></td>
            <td><input type="text" id="two" value="0"></td>
        </tr>
        <tr>
            <td>Spaghetti Carbonara</td>
            <td>$12.99</td>
            <td><button onclick="decreaseC()">-</button><button onclick="increaseC()">+</button><input type="text" id="cc" value="0"></td>
            <td><input type="text" id="three" value="0"></td>
        </tr>
        <tr>
            <td>Cheesecake</td>
            <td>$5.99</td>
            <td><button onclick="decreaseD()">-</button><button onclick="increaseD()">+</button><input type="text" id="dd" value="0"></td>
            <td><input type="text" id="four" value="0"></td>
        </tr>
        <tr>
            <td>Constitution Cooler</td>
            <td>$6.49</td>
            <td><button onclick="decreaseE()">-</button><button onclick="increaseE()">+</button><input type="text" id="ee" value="0"></td>
            <td><input type="text" id="five" value="0"></td>
        </tr>
        <tr>
            <td>Freedom Fizz</td>
            <td>$8.49</td>
            <td><button onclick="decreaseF()">-</button><button onclick="increaseF()">+</button><input type="text" id="ff" value="0"></td>
            <td><input type="text" id="six" value="0"></td>
        </tr>
        <tr>
            <td colspan="4"><hr align="center"></td>
        <tr>
            <td colspan="3">GRAND TOTAL</td>
            <td id="total" class="total"></td>
        </tr>
        <script type="text/javascript">
            var aa = 0;
            function increaseA(){
                aa += 9.99;
                document.getElementById('one').value = aa;
                document.getElementById('aa').value = aa/9.99;
                bill();
            }
            function decreaseA(){
                if(aa > 0){
                    aa -= 9.99;
                    document.getElementById('one').value = aa;
                    document.getElementById('aa').value = aa/9.99;
                bill();
                }
            }
            var bb = 0;
            function increaseB(){
                bb += 7.99;
                document.getElementById('two').value = bb;
                document.getElementById('bb').value = bb/7.99;
                bill();
            }
            function decreaseB(){
                if(bb > 0){
                    bb -= 7.99;
                    document.getElementById('two').value = bb;
                    document.getElementById('bb').value = bb/7.99;
                bill();
                }
            }
            var cc = 0;
            function increaseC(){
                cc += 12.99;
                document.getElementById('three').value = cc;
                document.getElementById('cc').value = cc/12.99;
                bill();
            }
            function decreaseC(){
                if(cc > 0){
                    cc -= 12.99;
                    document.getElementById('three').value = cc;
                    document.getElementById('cc').value = cc/12.99;
                bill();
                }
            }
            var dd = 0;
            function increaseD(){
                dd += 5.99;
                document.getElementById('four').value = dd;
                document.getElementById('dd').value = dd/5.99;
                bill();
            }
            function decreaseD(){
                if(dd > 0){
                    dd -= 5.99;
                    document.getElementById('four').value = dd;
                    document.getElementById('dd').value = dd/5.99;
                bill();
                }
            }
            var ee = 0;
            function increaseE(){
                ee += 6.49;
                document.getElementById('five').value = ee;
                document.getElementById('ee').value = ee/6.49;
                bill();
            }
            function decreaseE(){
                if(ee > 0){
                    ee -= 6.49;
                    document.getElementById('five').value = ee;
                    document.getElementById('ee').value = ee/6.49;
                bill();
                }
            }
            var ff = 0;
            function increaseF(){
                ff += 8.49;
                document.getElementById('six').value = ff;
                document.getElementById('ff').value = ff/8.49;
                bill();
            }
            function decreaseF(){
                if(ff > 0){
                    ff -= 8.49;
                    document.getElementById('six').value = ff;
                    document.getElementById('ff').value = ff/8.49;
                bill();
                }
            }
            function bill() {
                 total1= aa + bb + cc + dd + ee + ff;
                document.getElementById("total").innerHTML = total1;
            }
            function list() {
                 if(aa>0)
                 document.getElementById("HAM").innerHTML = "Hamburger ("+aa/9.99 + ")";
                 if(bb>0)
                 document.getElementById("CSA").innerHTML = "Ceasar Salad ("+bb/7.99 + ")";
                 if(cc>0)
                 document.getElementById("SPA").innerHTML = "Spaghetti Carbonara ("+cc/12.99 + ")";
                 if(dd>0)
                 document.getElementById("CHC").innerHTML = "Cheesecake ("+dd/5.99 + ")";
                 if(ee>0)
                 document.getElementById("CCC").innerHTML = "Constitution Cooler ("+ee/6.49 + ")";
                 if(ff>0)
                 document.getElementById("FRF").innerHTML = "Freedom Fizz ("+ee/8.49 + ")";
                 document.getElementById("lister").innerHTML = total1;
                 emp();
            }
            function emp() {
            aa = 0;
            document.getElementById('one').value = 0;
            document.getElementById('aa').value = 0;
            bb = 0;
            document.getElementById('two').value = 0;
            document.getElementById('bb').value = 0;
            cc = 0;
            document.getElementById('three').value = 0;
            document.getElementById('cc').value = 0;
            dd = 0;
            document.getElementById('four').value = 0;
            document.getElementById('dd').value = 0;
            ee = 0;
            document.getElementById('five').value = 0;
            document.getElementById('ee').value = 0;
            ff = 0;
            document.getElementById('six').value = 0;
            document.getElementById('ff').value = 0;
            }	
        </script>
    </table>


    <center><button class="order-submit" onclick="list()">Submit</button></center>
    <center><p>Invoice :</p></center>

    <p><div class="invoice" id="HAM" align="center" ></div></p>
    <p><div class="invoice" id="CSA" align="center"></div></p>
    <p><div class="invoice" id="SPA" align="center"></div></p>
    <p><div class="invoice" id="CHC" align="center"></div></p>
    <p><div class="invoice" id="CCC" align="center"></div></p>
    <p><div class="invoice" id="FRF" align="center"></div></p>
    <p><div class="invoice" id="lister" align="center"></div></p>

</div>

{% endblock %}