{% extends "base.html" %}
{% block title %}View Reservation{% endblock %}

{% block contents %}

<div class="body-container">
    <div class="container">
        <h1 class="view-reserve-title">Your Reservation Details</h1>
        <div class="reserve-name">Name from database goes here.</div>
        <div class="reserve-email">Email address from database goes here.</div>
        <div class="reserve-number">Phone Number from database goes here.</div>
        <div class="reserve-datetime">Date and time from database goes here.</div>
        <div class="reserve-size">Party size from database goes here.</div>
        <div class="reserve-splreq">Special Requests from database goes here.</div>
    </div>
</div>

{% endblock %}