{% extends "base.html" %}
{% block title %}View Reservation{% endblock %}

{% block contents %}

<div class="body-container">
    <div class="container">
        <h1 class="view-reserve-title">Your Reservation Details</h1>
        <!-- {% for res in reservation %} -->
            <div class="reserve-name">Name: {{name}}</div>
            <div class="reserve-email">Email: {{res.email}}</div>
            <div class="reserve-number">Phone Number: {{res.PhoneNumber}}</div>
            <div class="reserve-datetime">Date and time: {{res.reservationDateTime}}</div>
            <div class="reserve-size">Party size: {{res.size}}</div>
            <div class="reserve-splreq">Special Requests: {{res.specialRequests}}</div>
        <!-- {% endfor %}     -->
    </div>
</div>

{% endblock %}